%% -*- erlang -*-

{ erl_first_files, [ ] }.
{ cover_enabled, true }.
{ erl_opts, [ debug_info ] }.
{ sub_dirs, [ "rel"] }.
{ deps_dir, [ ".." ] }.
{ deps, [
         { gproc,	"0.*",	{ git, "https://github.com/uwiger/gproc.git", "HEAD"} },
         
         { billy_common, "", {git, "git0sis@sus.dev1team.net:billy_common.git", {branch, "master"}}},
         { gen_nb_server, "", {git, "https://github.com/kevsmith/gen_nb_server.git", {branch, "master"}}}
        ]}.
{pre_hooks, [
]}.
